<div class="l-dashboard-container d-flex flex-row">
    <div class="l-navigation-bar d-flex flex-column align-items-center">
        <div
            [ngClass]="
                activeIcon === 'home'
                    ? 'l-icon-container-active d-flex justify-content-center align-items-center'
                    : 'l-icon-container d-flex justify-content-center align-items-center'
            "
            (click)="changeActiveIcon('home')"
            routerLink="home"
        >
            <mat-icon class="l-navigation-icon">home</mat-icon>
        </div>
        <div
            [ngClass]="
                activeIcon === 'shop'
                    ? 'l-icon-container-active d-flex justify-content-center align-items-center'
                    : 'l-icon-container d-flex justify-content-center align-items-center'
            "
            (click)="changeActiveIcon('shop')"
            routerLink="shop"
        >
            <mat-icon class="l-navigation-icon">shopping_cart</mat-icon>
        </div>
        <div
            [ngClass]="
                activeIcon === 'camera'
                    ? 'l-icon-container-active d-flex justify-content-center align-items-center'
                    : 'l-icon-container d-flex justify-content-center align-items-center'
            "
            (click)="changeActiveIcon('camera')"
            routerLink="camera"
        >
            <mat-icon class="l-navigation-icon">camera_enhance</mat-icon>
        </div>
        <div
            [ngClass]="
                activeIcon === 'info'
                    ? 'l-icon-container-active d-flex justify-content-center align-items-center'
                    : 'l-icon-container d-flex justify-content-center align-items-center'
            "
            (click)="changeActiveIcon('info')"
            routerLink="info"
        >
            <mat-icon class="l-navigation-icon">info</mat-icon>
        </div>
    </div>
    <div class="l-dashboard-main">
        <ng-content content></ng-content>
    </div>
</div>
