<div class="l-dashboard-container">
    <div
        class="l-navigation-bar d-flex flex-row justify-content-between align-items-center px-4"
    >
        <h1 class="l-nav-h1 m-0 p-0">ng-Play</h1>
        <ul class="l-nav-ul d-none d-md-flex flex-row align-center m-0 p-0">
            <li class="l-nav-li" routerLink="home">Home</li>
            <li class="l-nav-li pl-3" routerLink="about">About</li>
            <li class="l-nav-li pl-3" routerLink="contact">Contact</li>
        </ul>
        <mat-icon class="l-nav-menu-icon d-block d-md-none">subject</mat-icon>
    </div>
    <div class="l-dashboard-main">
        <ng-content content></ng-content>
    </div>
</div>
