.l-dashboard-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.l-navigation-bar {
    position: absolute;
    width: 5%;
    height: 70%;
    left: 0;
    bottom: 0;
}

.l-icon-container,
.l-icon-container-active {
    width: 100%;
    height: 70px;
    cursor: pointer;
    outline: none;
}

.l-icon-container-active {
    border-left: 6px solid #ea6e22;
}

.l-icon-container-active .l-navigation-icon {
    margin-left: -6px;
    color: #ea6e22;
}

.l-navigation-icon {
    color: #d9dfe3;
}

.l-dashboard-main {
    width: 100%;
    height: 100%;
}
